<div class="white-bar mt-3 d-flex justify-content-between align-items-center">
    <div class="d-flex align-items-center m-auto">
        <a href="#!home" style="text-decoration: none;">
            <h1 style="
                font-family: 'Montserrat', sans-serif;
                color: #f4f489;
                text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
                letter-spacing: 2px;
                background: linear-gradient(30deg, #ffffff, #FFA500);
                -webkit-background-clip: text;
                color: transparent;">
                GOLD - 4.0
            </h1>
        </a>
    </div>
</div>
<hr class="container-fluid mb-0" style="border-color: white; margin-top: 0px;">
<!-- MENU -->
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0 w-100">
                <li class="nav-item ms-2">
                    <a class="nav-link" style="color: white; font-weight: bold; font-family: 'Times New Roman', serif;" href="#!/user/home">TRANG CHỦ</a>
                </li>
                <li class="nav-item dropdown ms-2">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownProduct" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false" style="color: white; font-weight: bold;">
                        SẢN PHẨM
                    </a>
                    <ul class="dropdown-menu" style="background-color: black;">
                        <li><a class="dropdown-item" href="#!/user/dssp" style="color: white;">Trang Sức <i class="fa-solid fa-gem"></i></a></li>
                        <li><a class="dropdown-item" href="#!/user/spvang" style="color: white;">Vàng <i class="fa-solid fa-ring"></i></a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown ms-2">
                    <a class="nav-link dropdown-toggle" href="#!/user/boyfashion" id="navbarDropdownMarket"
                        role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: white; font-weight: bold;">
                        THỊ TRƯỜNG
                    </a>
                    <ul class="dropdown-menu" style="background-color: black;">
                        <li><a class="dropdown-item" href="#!/user/giavang" style="color: white;">Giá Vàng <i class="fa-solid fa-money-bill-trend-up"></i></a></li>
                        <li><a class="dropdown-item" href="#!/user/ngoaite" style="color: white;">Ngoại Tệ <i class="fa-solid fa-dollar-sign"></i></a></li>
                    </ul>
                </li>
                <li class="nav-item ms-2">
                    <a class="nav-link" href="#" style="color: white; font-weight: bold;">TIN TỨC</a>
                </li>
                <li class="nav-item ms-2">
                    <a class="nav-link" href="#" style="color: white; font-weight: bold;">HỖ TRỢ</a>
                </li>

                <!-- Right-aligned items -->
                <li class="nav-item ms-auto">
                    <a class="nav-link" href="#!/user/spyeuthich" style="color: white;" ng-if="userInfo">YÊU THÍCH <i class="fa-solid fa-heart ms-2"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#!/user/giohang" style="color: white;" ng-if="userInfo">GIỎ HÀNG <i class="fa-solid fa-bag-shopping ms-2"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="html/login.html" style="color: white;" ng-if="!userInfo">ĐĂNG NHẬP <i class="fa-solid fa-right-to-bracket ms-2"></i></a>
                </li>
                <li class="nav-item dropdown ms-2" ng-if="userInfo">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownAccount" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false" style="color: white;">
                        TÀI KHOẢN <i class="fa-solid fa-user ms-2"></i>
                    </a>
                    <ul class="dropdown-menu" style="background-color: black;">
                        <li><a class="dropdown-item" href="#!/user/profileuser" style="color: white;">Thông Tin Tài Khoản <i class="fa-solid fa-address-card ms-2"></i></a></li>
                        <li><a class="dropdown-item" href="#" ng-click="logout()" style="color: white;">Đăng Xuất <i class="fa-solid fa-right-from-bracket ms-2"></i></a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<script src="/user/js/myController.js"></script>
