<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/prof.css">
</head>
<body>
    <div class="container-fluid mt-5" style="height: 700px;">
        <div class="row" style="margin-top: 150px;">
            <!-- Sidebar -->
            <nav class="col-md-3 col-lg-2 d-md-block sidebar" style="background-color: black !important;height: 750px; overflow-y: auto; margin-top: -15px;">
                <ul class="nav flex-column nav-pills" id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="pills-info-tab" data-bs-toggle="pill" href="#pills-info" role="tab"
                            aria-controls="pills-info" aria-selected="true" style="margin-top: 50px;">Thông Tin Tài Khoản <i
                                class="fa-regular fa-address-card"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-history-tab" data-bs-toggle="pill" href="#pills-history" role="tab"
                            aria-controls="pills-history" aria-selected="false">Lịch Sử Giao Dịch <i
                                class="fa-solid fa-clock-rotate-left"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-password-tab" data-bs-toggle="pill" href="#pills-password" role="tab"
                            aria-controls="pills-password" aria-selected="false">Mật Khẩu & Bảo Mật <i
                                class="fa-solid fa-shield-halved"></i> </a>
                    </li>
                </ul>
            </nav>
    
            <!-- Main content -->
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <div class="tab-content" id="pills-tabContent" >
                    <!-- Tab thông tin tài khoản -->
                    <div class="tab-pane fade show active" id="pills-info" role="tabpanel" aria-labelledby="pills-info-tab">
                        <ul class="nav nav-tabs" id="infoTabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="user-info-tab" data-bs-toggle="tab" href="#user-info"
                                    role="tab"style="color: white;">Thông Tin Người Dùng</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="asset-info-tab" data-bs-toggle="tab" href="#asset-info"
                                    role="tab"style="color: white;">Tài Sản</a>
                            </li>
                        </ul>
                        <div class="tab-content mt-3" id="infoTabContent">
                            <!-- Thông Tin Người Dùng -->
                            <div class="tab-pane fade show active" id="user-info" role="tabpanel">
                                <div class="user-info-container">
                                    <div class="avatar-container">
                                        <img ng-src="{{ userInfo.avt || 'https://th.bing.com/th/id/OIP.qsdLgpZCoSrWyv-Iw36TuAHaHa?rs=1&pid=ImgDetMain' }}" 
                                        alt="User Avatar" 
                                        class="img-fluid mb-3"
                                        style="border-radius: 50%; width: 200px; height: 200px;" />
                                   
                                        <label for="avatar" class="btn btn-edit" ng-if="isEditing" style="cursor: pointer;">
                                            <i class="fas fa-edit"></i>
                                        </label>
                                        <input type="file" id="avatar" class="d-none" ng-file-select ng-model="avatarFile"
                                            ng-disabled="!isEditing" accept="image/*" ng-change="uploadAvatar()" />
                                        
                                    </div>
                                
                                    <form class="user-info-form" ng-submit="updateProfile()">
                                        <div class="mb-3">
                                            <label for="username" class="form-label">Họ tên</label>
                                            <input type="text" class="form-control" id="fullName" ng-model="userInfo.hoTen"
                                                required ng-disabled="!isEditing">
                                        </div>
                                        <div class="mb-3">
                                            <label for="email" class="form-label">Email</label>
                                            <input type="email" class="form-control" id="email" ng-model="userInfo.email"
                                                required ng-disabled="!isEditing">
                                        </div>
                                        <div class="mb-3">
                                            <label for="phone" class="form-label">Số điện thoại</label>
                                            <input type="text" class="form-control" id="phoneNumber" ng-model="userInfo.sdt"
                                                required ng-disabled="!isEditing">
                                        </div>
                                        <button type="button" class="btn btn-secondary mt-3" ng-click="enableEdit()" ng-if="!isEditing">Chỉnh Sửa Thông Tin</button>
                                        <button type="button" class="btn btn-secondary mt-3" ng-click="disableEdit()" ng-if="isEditing">Hủy</button>
                                        <button type="submit" class="btn btn-primary mt-3" ng-if="isEditing">Cập nhật thông tin</button>
                                    </form>
                                </div>
                                
                            </div>
    
                            <!-- Tài Sản -->
                            <div class="tab-pane fade" id="asset-info" role="tabpanel">
                                <div class="form-section">
                                    <h3>Tài sản của bạn</h3>
                                    <div class="mb-3" ng-if="gcoinBalance != null">
                                        <label for="gcoinBalance" class="form-label" style="color: white;">Số dư Gcoin:</label>
                                        <h2 style="color: yellow; font-weight: bold;">{{gcoinBalance}}</h2>
                                    </div>
                                    <div class="mb-3" ng-if="gcoinBalance != null">
                                        <label for="goldPrice" class="form-label" style="color: white;">Giá trị quy đổi ra vàng:</label>
                                        <h2 style="color: yellow; font-weight: bold;">  {{ totalGcoinValue | number:0 }} VNĐ</h2>
                                    </div>
                                    <div class="mb-3" ng-if="gcoinBalance == null">
                                        <p class="text-warning">Bạn chưa có ví Gcoin. Hãy tạo ví để bắt đầu sử dụng!</p>
                                        <button class="btn btn-primary" ng-click="createGcoinWallet()">Tạo ví Gcoin</button>
                                    </div>
                                </div>
                            </div>
    
                        </div>
                    </div>
                    <!-- TAB LICH SU GIAO DICH -->
                    <div class="tab-pane fade" id="pills-history" role="tabpanel" aria-labelledby="pills-history-tab">
                        <h2>Lịch sử giao dịch</h2>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Tên Sản Phẩm</th>
                                    <th scope="col">Giá</th>
                                    <th scope="col">Trạng thái</th>
                                    <th scope="col">Chi tiết</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>$ItemName</td>
                                    <td>$TotalPrice</td>
                                    <td>$Status</td>
                                    <td><a href="#">Xem chi tiết</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
    
                    <!-- Tab mật khẩu & bảo mật -->
                    <div class="tab-pane fade" id="pills-password" role="tabpanel" aria-labelledby="pills-password-tab">
                        <ul class="nav nav-tabs" id="securityTabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="password-tab" data-bs-toggle="tab" href="#password-content"
                                    role="tab" style="color: white;">Mật Khẩu</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pin-tab" data-bs-toggle="tab" href="#pin-content" role="tab" style="color: white;">Mã
                                    PIN</a>
                            </li>
                        </ul>
                        <div class="tab-content mt-3" id="securityTabContent">
                            <!-- Mật Khẩu -->
                            <div class="tab-pane fade show active" id="password-content" role="tabpanel">
                                <h2>Đổi Mật Khẩu</h2>
                                <form class="password-form" ng-submit="updatePassword()">
                                    <div class="mb-3">
                                        <label for="currentPassword" class="form-label">Mật Khẩu Hiện Tại</label>
                                        <input type="password" class="form-control" id="oldPassword" ng-model="oldPassword"
                                            required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="newPassword" class="form-label">Mật Khẩu Mới</label>
                                        <input type="password" class="form-control" id="newPassword" ng-model="newPassword"
                                            required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="confirmPassword" class="form-label">Nhập Lại Mật Khẩu Mới</label>
                                        <input type="password" class="form-control" id="confirmPassword"
                                            ng-model="confirmPassword" required>
                                    </div>
                                    <button type="submit" class="btn btn-dark">Đổi Mật Khẩu</button>
                                </form>
                            </div>
    
                            <!-- Mã PIN -->
                            <div class="tab-pane fade" id="pin-content" role="tabpanel">
                                <h2>Thay Đổi Mã PIN</h2>
                                <form class="password-form" ng-submit="updatePin()">
                                    <div class="mb-3" ng-show="hasPin()">
                                        <label for="currentPIN" class="form-label">Mã PIN Hiện Tại</label>
                                        <input type="text" class="form-control" id="oldPin" ng-model="oldPin" ng-required="hasPin()">
                                    </div>
                                    <div class="mb-3">
                                        <label for="newPIN" class="form-label">Mã PIN Mới</label>
                                        <input type="password" class="form-control" id="newPin" ng-model="newPin" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="confirmPIN" class="form-label">Nhập Lại Mã PIN Mới</label>
                                        <input type="password" class="form-control" id="confirmNewPin" ng-model="confirmNewPin" required>
                                    </div>
                                    <button type="submit" class="btn btn-dark">Đổi Mã PIN</button>
                                </form>
                            </div>
                            
                        </div>
                        <script>
                        </script>
</body>
</html>

