<style>
    body {
        background-color: #3b3b3b;
        color: #fff;
        margin: 0;
    }

    .content-wrapper {
        background-color: #fff;
        border-radius: 15px;
        max-width: 1200px;
        margin: auto;
        padding: 20px;
        color: #000;
        margin-right: 30px;
        margin-top: 60px;
    }

    h2 {
        color: #333;
        text-align: center;
    }

    .product-img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #e0e0e0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        color: #fff;
    }

    .table-responsive {
        margin-top: 20px;
    }

    .pagination {
        justify-content: center;
    }

    .add-product-btn {
        float: right;
        background-color: #28a745;
        color: white;
        border-radius: 10px;
    }

    .search-bar {
        margin-bottom: 20px;
    }

    table {
        text-align: center;
    }
</style>
</head>

<body>

    <div class="content-wrapper">
        <h2>Quản lý sản phẩm</h2>
        <div class="row search-bar">
            <div class="d-flex">
                <input type="text" class="form-control" ng-model="searchQuery" placeholder="Tìm kiếm sản phẩm..." ng-change="filterProducts()">
                <select class="form-select" ng-model="selectedFilter" ng-change="filterProducts()">
                    <option value="3">Tất cả</option>
                    <option value="1">Sản phẩm đã duyệt</option>
                    <option value="2">Sản phẩm đợi duyệt</option>
                </select>
                
              
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-bordered">
                <thead class="table-light">
                    <tr>
                        <th>Ảnh sản phẩm</th>
                        <th>Tên sản phẩm</th>
                        <th>Giá sản phẩm</th>
                        <th>Số lượng</th>
                        <th>Nhà phân phối</th>
                        <th>Hành động</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="product in paginatedProducts">
                        <td >
                            <img ng-src="{{product.hinhAnh}}" style="height: 150px; width: 150px;" alt="">
                        </td>
                        <td>{{product.tenSanPham}}</td>
                        <td>{{product.gia}}</td>
                        <td>{{product.soLuong}}</td>
                        <td>{{product.nhaPhanPhoi.tenCuaHang}}</td>
                        <td> 
                                <button class="btn btn-outline-secondary" ng-click="goToDetail(product)">Xem Thêm</button>
                            <hr>
                           <b style="color: {{product.trangThai ? 'green' : 'red'}} ">{{product.trangThai ? 'Đã duyệt' : 'Đợi duyệt'}}</b> 
                        </td>
                    </tr>
                  
                </tbody>
            </table>
          
            
       
             
        </div>
        <div class="pagination">
            <button class="btn btn-light" ng-click="goToPage(1)" ng-disabled="currentPage === 1">First</button>
            <button class="btn btn-light" ng-click="goToPage(currentPage - 1)" ng-disabled="currentPage === 1">Previous</button>
            <span>Page {{currentPage}} of {{totalPages}}</span>
            <button class="btn btn-light" ng-click="goToPage(currentPage + 1)" ng-disabled="currentPage === totalPages">Next</button>
            <button class="btn btn-light" ng-click="goToPage(totalPages)" ng-disabled="currentPage === totalPages">Last</button>
        </div>
    </div>
</body>