<!DOCTYPE html>
<html lang="en" ng-app="myapp" ng-controller="MainController">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADMIN {{adminInfo.hoTen}}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" href="https://res.cloudinary.com/dcr0bghdp/image/upload/v1732025677/gxhlqrmsui3zxgk68ijv.jpg" type="image/x-icon">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <link rel="stylesheet" href="css/bangdk.css">


</head>

<body style="background-color: #3b3b3b;">
    <div class="loader">
        <div class="loading-text">
            GOLD 4.0
        </div>
        <div class="khung">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <div class="container-fluid" id="main-content">


        <div class="sidebar">
            <div class="header">
                <button class="btn btn-outline-light d-md-none" onclick="toggleSidebar()">☰</button>
                <div class="user-icon">
                    <span ng-click="showProfile()"><b>Tên Nhân viên:</b> {{adminInfo.hoTen}}</span>
                    <br>
                    <span><b>ID:</b> {{adminInfo.id}}</span>
                </div>
            </div>
            <h2 class="text-center" style="
            font-family: 'Montserrat', sans-serif;
            margin-top: 20px;
            color: #f4f489;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
            letter-spacing: 2px;
            background: linear-gradient(30deg, #ffea98, #FFA500);
            -webkit-background-clip: text;
            color: transparent;">
                GOLD - 4.0
            </h2>
            <nav>
                <ul class="list-unstyled nav-pills">
                    <li class="nav-item"><a class="nav-link" href="#!/admin/bangdieukhien">
                            <i class="fa-solid fa-house"></i> Bảng Điều Khiển</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!/admin/quanlysanpham"><i
                                class="fa-solid fa-rectangle-list"></i>
                            Quản Lý Sản Phẩm</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="#!/admin/quanlydonhang"><i
                                class="fa-solid fa-shop"></i> Quản Lý Đơn
                            Hàng</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!/admin/quanlytaikhoan"><i
                                class="fa-solid fa-users"></i> Quản Lý Tài
                            Khoản</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!/admin/baocao"><i
                                class="fa-solid fa-file-circle-xmark"></i> Báo
                            Cáo</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!/admin/uudai"><i
                                class="fa-solid fa-fire-flame-curved"></i> Ưu
                            Đãi</a></li>
                </ul>
            </nav>
            <div class="mt-auto text-center mb-3">
                <button ng-click="logout()" class="btn btn-danger px-4 logout">Đăng Xuất <svg viewBox="0 0 512 512"
                        width="20px" style="margin-left: 10px">
                        <path
                            d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"
                            style="fill: white; color: white;">
                        </path>
                    </svg></button>
            </div>
            <!-- <a href="#" ng-click="logout()" class="logout">Logout</a> -->
        </div>

        <div class="dashboard-content">
            <!-- <div id="welcome-message" class="alert alert-success text-center" style="display: none;">
                Chào mừng {{adminInfo.hoTen}} trở lại trang admin
            </div> -->
            <div class="container-view">
                <ng-view></ng-view>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-route.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/7ac34e99b9.js" crossorigin="anonymous"></script>
    <script src="js/myController.js"></script>
    <script>
        $(document).ready(function () {
            $('#welcome-message').fadeIn();
            setTimeout(function () {
                $('#welcome-message').fadeOut();
            }, 5500);
        });

        function toggleSidebar() {
            const sidebar = document.querySelector('.sidebar');
            sidebar.classList.toggle('show'); // Thêm hoặc xóa class `show`
        }




    </script>
    <script>
        // Ẩn loader và hiển thị nội dung chính sau 3 giây
        window.onload = function () {
            setTimeout(function () {
                document.querySelector(".loader").style.display = "none";
                document.querySelector("#main-content").style.display = "block";
            }, 1500); // 3000ms = 3 giây
        };
    </script>
    <script>
        document.querySelectorAll('.nav-link').forEach((item) => {
            item.addEventListener('click', (e) => {
                // Loại bỏ active từ tất cả các nav-link
                document.querySelectorAll('.nav-link').forEach((link) => {
                    link.classList.remove('active');
                });
                // Thêm active cho nav-link được click
                e.target.classList.add('active');
            });
        });
    </script>

</body>

</html>